.white-text{
	color: #fff;
}

/* Resets */
ul {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}

h1, h2 {
	padding:0;
	margin:0 0 20px 0;
	font-weight:normal;
}

ul li {
	padding:5px 0;
}

ul li input[type="text"], ul li input[type="password"] {
	width:200px;
}

/* Headers */
h1 {
	font-size:1.8em;
}

h2 {
	font-size:1.4em;
}

.logo {
	font:2em Arial;
	margin:0 0 10px 0;
	padding:0;
	width:200px;
	color:#fff;
}

footer {
	border-radius:0 0 5px 5px;
}

.widget { 
	margin-bottom:20px;
}

.widget h2 {
	margin:0 0 10px 0;
	padding:0 0px;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}

.widget .inner {
	margin:0 10px;
}

/* Aside */
aside {
	width:260px;
	float:right;
	border-left:1px dashed #aaa;
	padding-left:15px;
}

/* Login */
#login li.link {
	margin-top:5px;
}

/* Footer */
footer {
	border-top:1px dashed #ddd;
	color:#999;
}

/* Misc */
.clear {
	clear:both;
}